* 
{
    font-family: 'Helvetica',Arial,sans-serif;
}

body {
  background-color: #121213;
}

h1 {
  text-align: center;
  color: white;
}

.inputzone{
  text-align:center 
}

input[type="text"] {

}

#img-poke {
  border: 10px solid transparent;
  border-image: linear-gradient(red, blue) 30;
  width: 500px;
}

#img-poke-border{
 text-align: center;
 padding-top: 50px;
}