/* GENERAL */
* 
{
    font-family: 'Helvetica',Arial,sans-serif;
}

body {
  background-color: #121213;
}

h1 {
  text-align: center;
  color: white;
}




/* INPUT */ 
.inputzone{
  padding-top: 25px;
  text-align:center 
}

#notfoundtext{
  color: red;
}





/* IMAGE */
#img-poke {
  border: 10px solid transparent;
  border-image: linear-gradient(red, blue) 10;
  width: 50%;
}

#img-poke-border{
 text-align: center;
 padding-top: 50px;
}





/* GRILLE */
.grid{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row{
  display: flex;
}

.tile{
  border: 2px solid lightgray;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  margin: 2.5px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
}

.answer{
  color: white;
  align-items: left;
  display: flex;
}

.title{
  color:  white;
  font-size: 18px;
  width: 60px;
  height: 20px;
  margin: 4.5px;

  display: flex;
  justify-content: center;
  align-items: center;
}



#game{
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 4px;
  grid-template-columns: 25% auto 25%;
}

#answers{
  display: flex;
  align-items: left;
  flex-direction: column;
}

.answer{
  color:  white;
  font-size: 20px;
  padding-top: 47px;
}

#foundtext{
  font-size: 18px;
  color: white;
  text-align: center;
}