/* GENERAL */
* 
{
    font-family: 'Helvetica',Arial,sans-serif;
    padding: 0;
    margin: 0;
}

html{
  height: 100%;
}

body {
    background-color: #121213;
    min-height: 100%;
}

h1 {
  text-align: center;
  color: white;
  font-size: 5vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}




/* INPUT */ 
.inputzone{
  padding-top: 2vh;
  text-align:center; 
}

input{
  
  width: 25vh;
  height: 3vh;
}    


#notfoundtext{
  padding-top: 1vh;
  font-size: 4vh;
  color: red;
}





/* IMAGE */
#img-poke {
  border: 1.5vh solid transparent;
  border-image: linear-gradient(red, blue) 10;
  width: 50%;
}

#img-poke-border{
 text-align: center;
 padding-top: 5vh;
}





/* GRILLE */
.grid{
  display: flex;
  align-items: center;
  flex-direction: column;
      min-height: 100%;
}

.row{
  display: flex;
}

.tile{
  border: 0.4vh solid lightgray;
  border-radius: 1vh;
  width: 8vh;
  height: 8vh;
  margin: 0.5vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
}

.answer{
  color: white;
  align-items: left;
  display: flex;
}

.title{
  color:  white;
  font-size: 3vh;
  width: 8.5vh;
  height: 2vh;
  margin: 0.5vh;

  display: flex;
  justify-content: center;
  align-items: center;
}



#game{
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 1vh;
  grid-template-columns: 25% auto 25%;
      min-height: 100%;
}

#answers{
  display: flex;
  align-items: left;
  flex-direction: column;
}

.answer{
  color:  white;
  font-size: 3vh;
  padding-top: 6vh;
}

#foundtext{
  font-size: 3vh;
  color: white;
  text-align: center;
}

input[type="text"] {
    font-size:2.5vh;
}

/* Table */
td,th {
  color:  white;
  width: 5vh;
}

.pokedex {
  border-spacing: 100;
  margin-left: auto;
  margin-right: auto;
}


.type_icon {
  width: 4vh;
}


